# First import Libraries

In [3]:
import numpy as np
import pandas as pd
import scipy.sparse as ss
import matplotlib.pyplot as plt
import seaborn as sns

# Datasets

In [22]:
train = pd.read_csv(r"C:\Users\ASUS\Desktop\fake_news_detection\data\news_train.csv")
test = pd.read_csv(r"C:\Users\ASUS\Desktop\fake_news_detection\data\news_test.csv")
news_train_text_vectors = ss.load_npz(r"C:\Users\ASUS\Desktop\fake_news_detection\data\news_train_text_vectors.npz")
train_text = pd.DataFrame(news_train_text_vectors.toarray())
news_test_text_vectors = ss.load_npz(r"C:\Users\ASUS\Desktop\fake_news_detection\data\news_test_text_vectors.npz")
test_text = pd.DataFrame(news_test_text_vectors.toarray())

In [23]:
train.head()

,author,published,site_url,type,label
0,No Author,2016-11-01T03:28:50.389+02:00,clickhole.com,satire,Fake
1,Anonymous,2016-10-27T21:30:00.000+03:00,abeldanger.net,bs,Fake
2,Kali74,2016-10-27T02:54:49.093+03:00,abovetopsecret.com,bs,Fake
3,Alex Ansary,2016-11-04T22:44:06.026+02:00,amtvmedia.com,bs,Fake
4,Luke Stranahan,2016-11-23T15:10:56.702+02:00,returnofkings.com,hate,Real

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     1500 non-null   object
 1   published  1500 non-null   object
 2   site_url   1500 non-null   object
 3   type       1500 non-null   object
 4   label      1500 non-null   object
dtypes: object(5)
memory usage: 58.7+ KB

In [25]:
test.head()

,author,published,site_url,type
0,Barracuda Brigade,2016-11-23T21:54:00.000+02:00,100percentfedup.com,bias
1,No Author,2016-11-15T18:16:59.191+02:00,clickhole.com,satire
2,Lisa Beach,2016-10-26T22:46:37.612+03:00,westernjournalism.com,bias
3,Rich Knoch,2016-10-26T22:46:18.548+03:00,westernjournalism.com,bias
4,Bruce Thornton,2016-11-01T07:32:54.546+02:00,frontpagemag.com,hate

In [26]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     346 non-null    object
 1   published  346 non-null    object
 2   site_url   346 non-null    object
 3   type       346 non-null    object
dtypes: object(4)
memory usage: 10.9+ KB

In [27]:
train_vectors = pd.DataFrame(news_train_text_vectors.toarray())
train_vectors

,0,1,2,3,4,5,6,7,8,9,...,42131,42132,42133,42134,42135,42136,42137,42138,42139,42140
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
test_vectors = pd.DataFrame(news_test_text_vectors.toarray())
test_vectors

,0,1,2,3,4,5,6,7,8,9,...,42131,42132,42133,42134,42135,42136,42137,42138,42139,42140
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
train["label"].value_counts()

Fake    988
Real    512
Name: label, dtype: int64

In [30]:
def is_suspecious(authors, author_name):
    log = authors[authors['author'] == author_name]
    news_count = log['label'].value_counts()
    try:
        reals = news_count['Real']
    except:
        reals = 0
    try:
        fakes = news_count['Fake']
    except:
        fakes = 0
        
    if fakes > reals:
        return 1
    
    return -1

In [31]:
authors = train[["author", "label"]]
authors

                           author label
0                       No Author  Fake
1                       Anonymous  Fake
2                          Kali74  Fake
3                     Alex Ansary  Fake
4                  Luke Stranahan  Real
...                           ...   ...
1495            Daniel Greenfield  Real
1496  theeconomiccollapseblog.com  Fake
1497                  Alex Ansary  Fake
1498                     EdJenner  Real
1499                    No Author  Fake

[1500 rows x 2 columns]

In [32]:
train["is suspecious"] = train["author"].map(lambda x:is_suspecious(authors, x))

In [33]:
train

,author,published,site_url,type,label,is suspecious
0,No Author,2016-11-01T03:28:50.389+02:00,clickhole.com,satire,Fake,1
1,Anonymous,2016-10-27T21:30:00.000+03:00,abeldanger.net,bs,Fake,1
2,Kali74,2016-10-27T02:54:49.093+03:00,abovetopsecret.com,bs,Fake,1
3,Alex Ansary,2016-11-04T22:44:06.026+02:00,amtvmedia.com,bs,Fake,1
4,Luke Stranahan,2016-11-23T15:10:56.702+02:00,returnofkings.com,hate,Real,-1
...,...,...,...,...,...,...
1495,Daniel Greenfield,2016-11-02T13:25:57.336+02:00,frontpagemag.com,hate,Real,-1
1496,theeconomiccollapseblog.com,http://theeconomiccollapseblog.com/wp-content/...,theeconomiccollapseblog.com,bs,Fake,1
1497,Alex Ansary,2016-11-02T19:24:00.901+02:00,amtvmedia.com,bs,Fake,1
1498,EdJenner,2016-11-22T15:44:03.678+02:00,dailywire.com,bias,Real,-1
1499,No Author,2016-10-29T17:41:00.000+03:00,davidwolfe.com,bs,Fake,1

In [34]:
suspecious_authors = train[train["is suspecious"] == 1]["author"].value_counts().index

In [21]:
published_time = pd.DataFrame(train["published"])

In [35]:
train_text

,0,1,2,3,4,5,6,7,8,9,...,42131,42132,42133,42134,42135,42136,42137,42138,42139,42140
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
test_text

,0,1,2,3,4,5,6,7,8,9,...,42131,42132,42133,42134,42135,42136,42137,42138,42139,42140
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0